@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
    margin: 0;
  }

  a {
    color: #2c7871;
  }
  a:hover {
    color: #1f5f59;
  }
}
